@import url(https://fonts.google.com/specimen/Kumbh+Sans);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    list-style: none;
}

:root {
    --bg-pic: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
    --box-pic: url(./images/bg-pattern-card.svg);
    --profile-pic: url(./images/image-victor.jpg);

    --general-bg-color: hsl(185, 75%, 39%);
    --general-text-color: hsl(229, 23%, 23%);
    --general-color: #fff;
    --detail-color: hsl(0, 0%, 59%);

    --font-family: "Kumbh Sans", sans-serif;
    --font-size: 18px;

    --profile-measure: 6.3rem;

    --default-width: auto;
    --default-max-width: 21.8rem;
    --default-min-width: 19rem;
    --box-border-radius: 15px;
}

body {
    display: flex;
    justify-content: center;
    background-image: var(--bg-pic);
    background-repeat: no-repeat, no-repeat;
    background-position: top -500px left -400px, bottom -700px right -250px;
    background-color: var(--general-bg-color);
    color: var(--general-text-color);
    font-family: var(--font-family);
    font-size: var(--font-size);
    text-align: center;
}

.main {
    background-image: var(--box-pic);
    background-repeat: no-repeat;
    width: var(--default-width);
    height: 400px;
    max-width: var(--default-max-width);
    min-width: var(--default-min-width);
    margin-top: 10%;
    background-color: var(--general-color);
    border-radius: var(--box-border-radius);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.pic {
    border-radius: 50px;
    border: 5px solid var(--general-color);
    width: var(--profile-measure);
    height: var(--profile-measure);
    background: var(--profile-pic) no-repeat center/cover;
    position: absolute;
    top: 22%;
    left: 35%;
}

.profile-pic {
    border-radius: 50%;
    max-width: 100%;
}

.user-general {
    width: 70%;
    height: 13%;
}

.age {
    margin-left: 3%;
    color: var(--detail-color);
    font-weight: lighter;
}

.location {
    font-size: 15px;
    font-weight: bold;
    color: var(--detail-color);
}


.stat-config {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 35%;
    border-top: 0.1rem solid var(--detail-color);
}

.big-text {
    font-weight: 900;
}

.stat-description {
    color: hsl(0, 0%, 59%);
    font-size: 13px;
}